#entirePage {
  background-image: url('./images/background.png');
  width: 100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Ownglyph_meetme-Rg';
}
#titleAndInput{
  margin-bottom:50px;
}
.title {
  font-size:70px;
}
.TodoInput {
  width:500px;
  height:25px;
  margin-left:100px;
}
.eachList {
  display: flex;
  gap: 20px;
  margin-bottom:20px;
}
.idAndTask {
  display: flex;
  gap:5px;
  width:200px;
  font-size:20px;
}
.EditingInput {
  width:200px;
  height:30px;
  align-self: center;
}
.submitButton {
  margin-left:10px;
  font-size: 20px;
  border: 1px solid black;
}
.deleteButton {
  width:85px;
  height:40px;
  border: 1px solid black;
  align-self: center;
}
.editButton {
  width:90px;
  height:40px;
  border: 1px solid black;
  align-self: center;
}

@font-face {
  font-family: 'Ownglyph_meetme-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

