#title {
    text-align: center;
}
#textinput {
    width:700px;
    height:25px;
    border-width: 1;
    border-color: black;
    text-align: center;
}
#schedulebox {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}
#scheduleList {
    width:700px;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
}
#comButton{
    margin-left: 70px;
}

#delButton{
    margin-left: 70px;
}
#should {
    width:300px;
}
#complete {
    width:300px;
}
#shouldList {
    text-align: left;
}
#compList {
    text-align: right;
}
.subTitle1 {
    margin-bottom: 30px;
    padding-left: 50px;
}
.subTitle2 {
    padding-left:140px;
    margin-bottom: 30px;
}